/* CSS BY Esther Dronyi */

/* CSS RESET  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* ROOT VARIABLES */
:root{
  --font-stack: "Inter";
  --display-font: "Kavoon";

  /* all the colors */  
  --Teal :#4CA7C0;
  --Purple: #484FB7;
  --Lavender: #6B8FE7;
  --Yellow: #E9BB57; 
  --Pink:#D9526F;
  --Dark-gray:#1E1E1E; 
  --White:#ffffff; 
}


/* GLOBAL STYLES (mobile first/small) */

body{
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--Lavender);
  font-family: var(--font-stack);
  line-height: normal;
  font-weight: 500;
}

header, main, footer{
  padding: 8px 0;
  margin: 0 auto;
  background-color: var(--Purple); 
}

h1,h2{
  font-family: var(--display-font);
  color: var(--White);
  padding: 0;
}

h3,h4,p,a,li{
  font-family: var(--font-stack);
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
  padding: 8px 0 0 0;
  margin: 0 16px;
}

h3{
  font-size: 1.5em;
  color: var(--Yellow);
  font-weight:600;
  padding: 0 0 8px 0;
  margin: 0 16px;
}

h4{
  font-size: 1.15em;
  color: var(--Purple);
  font-weight: 800;
  padding: 8px 16px;
}

p{
  width: 100%;
  max-width: 34ch;
  color: var(--Dark-gray);
  padding: 0 16px 8px;
}


/*----- HEADER STYLES ----*/

header{
  background-color: var(--Purple);
  margin: 0 auto;
  text-align: center;
}

header p {
  color: var(--White);
  margin: 0 auto;
  max-width: 30ch;
  font-style: italic;
  font-weight: 400;
  padding-bottom: 32px;
}
  /*----- NAV STYLES ----*/
nav{
  background-color: var(--Yellow);
  padding: 16px 16px 24px 16px;
  gap: 8px;
}

nav h2{
  color: var(--Dark-gray);
  font-family: var(--font-stack);
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700 ;
  font-size: 1.5em;
}

ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 8px;
}

li{
  text-transform: uppercase;
  padding: 0 8px;

}

nav a{
  background-color: var(--White);
  list-style-type: none;
  text-decoration: none;
  display: block;
  padding: 12px;
  font-weight: 800;
  color: var(--Purple);

}
/*------ SERVICES STYLES ------*/

h3 ~ section{
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  padding: 8px;
  border-radius: 12px;
  margin: 16px 24px;
}

img{
  display: block;
  width: 100px;
  height: 100px;
  padding: 8px;
  order: -1;
}

/*----- CHOOSE US STYLES ----*/

main > section:nth-child(2) {
  background-color: var(--Pink);
  width: 100%;
  max-width: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

h2{
  grid-column: 1 / -1;
}

#choose-us h2 ~ p{
  text-align: center;
  max-width: 15ch;
  margin: 8px 16px;
  padding: 24px 16px;
  border-radius: 16px;
  font-weight: 700;
  background-color: var(--Teal);
}

#choose-us h2 ~ p:nth-of-type(2){
  background-color: var(--Lavender);
}

#choose-us h2 ~ p:nth-of-type(3){
  background-color: var(--Yellow) ;
}

#choose-us h2 ~ p:last-of-type{
  background-color: var(--White);
}

/* ----- PRICING STYLES ------*/

table{
  margin: 0 auto;
  background-color: var(--Yellow);
  margin-bottom: 8px;
}

th{
  padding: 16px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

td{
  background-color: var(--White);
  border: 2px solid var(--Yellow);
  padding: 16px;
}

/*------ FIRST STEO STYLES ------*/
main > section:last-of-type{
  background-color: var(--Pink);
  padding: 8px 0;
}

main > section:last-of-type p{
  color: var(--White);
  max-width: 41ch;
  line-height: 1.5;
  padding: 8px 16px;
}

#first-step a{
  display: block;
  width: 325px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Dark-gray);
  font-weight: 700;
  background-color: var(--White);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 5px 4px 3px var(--Dark-gray);
}

/*----- FOOTER STYLES -----*/
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px;
}

footer p, footer a{
  color: var(--White);
  font-size: .7em;
}

footer p{
  max-width: 12ch;
}